/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

* {
    font-family: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: lighter 1.3em/1 Helvetica, Georgia, serif;
}

/**********************************************************************************/
/* Mazes
/**********************************************************************************/

#rootContainer {
    display: grid;
    grid: auto minmax(400px, 1fr) auto / 1fr;
}

a, a:visited {
    color: black;
}

h1 a,
h1 a:visited {
    color: black;
    text-decoration: none;
}

header, footer {
    background-color: #000;
    color: #fff;
    min-height: 50px;

    a, a:visited {
        color: #fff;
    }

    nav {
        flex-grow: 1;
        text-align: right;
    }
}

header {
    align-items: center;
    display: flex;
    margin-bottom: 1em;
    padding: 0.4em;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 1em;
    text-align: center;

    ul {
        margin-bottom: 0.6em;
    }
}

pre {
    font: lighter 1em/1 monospace;
}

#mainContainer {
    padding-left: 1em;

    svg {
        margin-top: 1em;

        rect {
            cursor: pointer;

            &:hover {
                fill: #ffaaaa;
            }
        }
    }
}

/**********************************************************************************/
/* LiveView specific classes for your customizations */
/**********************************************************************************/

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
